<!doctype html>
<html lang="en">
  <head>
    {{ partial "extra_head.html" . }}


    <title>{{ .Params.title }} | {{ site.Data.meta.project_name }}</title>

    {{ $style := resources.Get "css/site.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />

    {{ $js := resources.Get "js/site.js" | js.Build }}
    <script type="text/javascript" src="{{ $js.RelPermalink }}" defer></script>
  </head>

  <body
    {{ with .Params.nav_section -}}
      {{- if not (eq . "Root" ) -}}
        data-pagefind-filter="section:{{ . }}"
      {{- end -}}
    {{- end }}
  >
    {{ partial "banner.html" . }}
    <div id="grid-container">
      {{ partial "header.html" . }}
      {{ partial "aside.html" . }}
      {{ partial "main.html" . }}
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
