<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
  rel="stylesheet"
/>

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ site.Data.meta.favicon.apple_touch_icon }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ site.Data.meta.favicon.large_icon }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ site.Data.meta.favicon.small_icon }}"
/>
<link rel="shortcut icon" href="{{ site.Data.meta.favicon.shortcut_icon }}" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />

<meta
  content="{{ .Params.title }} | {{ site.Data.meta.project_name }}"
  property="og:title"
/>
<meta
  content="{{ .Params.title }} | {{ site.Data.meta.project_name }}"
  property="twitter:title"
/>
<meta content="en_US" property="og:locale" />
<meta content="{{ .Summary | plainify | htmlUnescape }}" name="description" />
<meta
  content="{{ .Summary | plainify | htmlUnescape }}"
  property="og:description"
/>
<link rel="canonical" href="{{ .Permalink | absURL }}" />
<meta content="{{ .Permalink | absURL }}" property="og:url" />
<meta content="{{ site.Data.meta.project_name }}" property="og:site_name" />
<meta
  data-pagefind-meta="image[content]"
  content="{{ site.Data.meta.default_og_image | absURL }}"
  property="og:image"
/>
<meta content="article" property="og:type" />
<meta content="summary_large_image" name="twitter:card" />
<meta
  content="{{ site.Data.meta.default_og_image | absURL }}"
  property="twitter:image"
/>

<link rel="manifest" href="{{ site.Data.meta.site_manifest | absURL }}" />

{{/* Pagefind Dependencies */}}

<link href="/_pagefind/pagefind-ui.css" rel="stylesheet" />
<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    new PagefindUI({
      element: "#search",
      showSubResults: true,
      showImages: false,
      debounceTimeoutMs: 0,
    });
  });
</script>
