<nav>
  <ul>
    {{- range sort .Site.Sections "Weight" "asc" -}}
    <script>console.log({{ . }})</script>
      {{- template "nav-section" . -}}
    {{- end -}}
  </ul>
</nav>

{{- define "nav-section" -}}
  <li>
    <a href="{{ .Permalink | relURL }}"> {{ .Params.nav_title }}</a>
    {{- if gt (.Page.Pages | len) 0 -}}
      <ul>
        {{- range sort .Page.Pages "Weight" "asc" -}}
        <script>console.log({{ . }})</script>
          {{- template "nav-section" . -}}
        {{- end -}}
      </ul>
    {{- end -}}
  </li>
{{- end -}}
